extends layout

block content
  style.
    input {
      margin-bottom: 10px;
      display:block;
      overflow:hidden;
    }
  h1= title

  p Don't forget to add your email credentials to /lib/mailer.js! You won't be able to send mail without them!

  form(action="/sendMail", method="POST")
    input(type="email", name="toEmail", placeholder="Email Address", required)
    input(type="text", name="firstName", placeholder="First Name", required)
    input(type="text", name="lastName", placeholder="Last Name", required)

    button(type="submit") Submit